In [1]:
import pandas as pd
import numpy as np

iowa_df = pd.read_csv("3-Year_Recidivism_for_Offenders_Released_from_Prison_in_Iowa.csv")
list1 = ['Race - Ethnicity', 'Age At Release ', 'Sex', 'Offense Classification', 'Offense Type', 'Return to Prison']

In [2]:
compas_df = pd.read_csv("compas-scores-raw.csv")
compas_df

,Person_ID,AssessmentID,Case_ID,Agency_Text,LastName,FirstName,MiddleName,Sex_Code_Text,Ethnic_Code_Text,DateOfBirth,...,RecSupervisionLevel,RecSupervisionLevelText,Scale_ID,DisplayText,RawScore,DecileScore,ScoreText,AssessmentType,IsCompleted,IsDeleted
0,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,7,Risk of Violence,-2.08,4,Low,New,1,0
1,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,8,Risk of Recidivism,-1.06,2,Low,New,1,0
2,50844,57167,51950,PRETRIAL,Fisher,Kevin,NaN,Male,Caucasian,12/05/92,...,1,Low,18,Risk of Failure to Appear,15.00,1,Low,New,1,0
3,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,Male,Caucasian,09/16/84,...,1,Low,7,Risk of Violence,-2.84,2,Low,New,1,0
4,50848,57174,51956,PRETRIAL,KENDALL,KEVIN,NaN,Male,Caucasian,09/16/84,...,1,Low,8,Risk of Recidivism,-1.50,1,Low,New,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60838,65667,79665,72038,Probation,West,James,NaN,Male,African-American,06/21/64,...,3,Medium with Override Consideration,8,Risk of Recidivism,0.16,8,High,New,1,0
60839,65667,79665,72038,Probation,West,James,NaN,Male,African-American,06/21/64,...,3,Medium with Override Consideration,18,Risk of Failure to Appear,35.00,10,High,New,1,0
60840,68603,79669,72042,PRETRIAL,Ryan,Michael,NaN,Male,Caucasian,02/06/85,...,1,Low,7,Risk of Violence,-2.75,2,Low,New,1,0
60841,68603,79669,72042,PRETRIAL,Ryan,Michael,NaN,Male,Caucasian,02/06/85,...,1,Low,8,Risk of Recidivism,-0.34,5,Medium,New,1,0
60842,68603,79669,72042,PRETRIAL,Ryan,Michael,NaN,Male,Caucasian,02/06/85,...,1,Low,18,Risk of Failure to Appear,16.00,2,Low,New,1,0

In [3]:
compas_par_df = pd.read_csv("cox-violent-parsed.csv")
compas_par_df

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event
0,1.0,miguel hernandez,miguel,hernandez,14/08/2013,Male,18/04/1947,69,Greater than 45,Other,...,Risk of Violence,1,Low,14/08/2013,07/07/2014,14/07/2014,0,0,327,0
1,2.0,miguel hernandez,miguel,hernandez,14/08/2013,Male,18/04/1947,69,Greater than 45,Other,...,Risk of Violence,1,Low,14/08/2013,07/07/2014,14/07/2014,0,334,961,0
2,3.0,michael ryan,michael,ryan,31/12/2014,Male,06/02/1985,31,25 - 45,Caucasian,...,Risk of Violence,2,Low,31/12/2014,30/12/2014,03/01/2015,0,3,457,0
3,4.0,kevon dixon,kevon,dixon,27/01/2013,Male,22/01/1982,34,25 - 45,African-American,...,Risk of Violence,1,Low,27/01/2013,26/01/2013,05/02/2013,0,9,159,1
4,5.0,ed philo,ed,philo,14/04/2013,Male,14/05/1991,24,Less than 25,African-American,...,Risk of Violence,3,Low,14/04/2013,16/06/2013,16/06/2013,4,0,63,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18311,NaN,alexsandra beauchamps,alexsandra,beauchamps,29/12/2014,Female,21/12/1984,31,25 - 45,African-American,...,Risk of Violence,4,Low,29/12/2014,28/12/2014,07/01/2015,5,9,459,0
18312,NaN,winston gregory,winston,gregory,14/01/2014,Male,01/10/1958,57,Greater than 45,Other,...,Risk of Violence,1,Low,14/01/2014,13/01/2014,14/01/2014,0,0,808,0
18313,NaN,farrah jean,farrah,jean,09/03/2014,Female,17/11/1982,33,25 - 45,African-American,...,Risk of Violence,2,Low,09/03/2014,08/03/2014,09/03/2014,3,0,754,0
18314,NaN,florencia sanmartin,florencia,sanmartin,30/06/2014,Female,18/12/1992,23,Less than 25,Hispanic,...,Risk of Violence,4,Low,30/06/2014,15/03/2015,15/03/2015,2,0,258,0
18315,NaN,florencia sanmartin,florencia,sanmartin,30/06/2014,Female,18/12/1992,23,Less than 25,Hispanic,...,Risk of Violence,4,Low,30/06/2014,15/03/2015,15/03/2015,2,258,641,0

In [4]:
from sklearn import linear_model
reg = linear_model.LogisticRegression(solver='liblinear')

In [115]:
test_df = iowa_df[list1]
#race = test_df['Return to Prison'].iloc[:]
#[, 'White - Non-Hispanic', 'White - Hispanic'],[1,2,3])
#alist=[]
#for element in race:
#    a=False
#    for element2 in alist:
#        if (element==element2) :
#            a=True
#    if(not a):
#        alist.append(element)

race={'Black - Non-Hispanic':1,
      'White - Non-Hispanic':2,
      'American Indian or Alaska Native - Non-Hispanic':3,
      'White - Hispanic':4,
      'American Indian or Alaska Native - Hispanic':5,
      'Asian or Pacific Islander - Non-Hispanic':6,
      'White -':7,
      'Black - Hispanic':8,
      'Black -':9,
      'Asian or Pacific Islander - Hispanic':10,
      'N/A -':0,
      np.nan:0
     }
age={'Under 25':1,
     '25-34':2, 
     '35-44':3, 
     '45-54':4,  
     '55 and Older':5, 
     np.nan:0
    }
sex={'Male':1, 
     'Female':2,
     np.nan:0
    }
offenseC={'A Felony':1,
         'B Felony':2,
         'C Felony':3,
         'D Felony':4,
         'Other Felony':5,
         'Felony - Enhanced':6,
         'Other Felony (Old Code)':7,
         'Felony - Mandatory Minimum':8,
         'Felony - Enhancement to Original Penalty':9,
         'Simple Misdemeanor':10,
         'Aggravated Misdemeanor':11,
         'Serious Misdemeanor':12,
         'Sexual Predator Community Supervision':13,
         'Other Misdemeanor':14,
         'Special Sentence 2005':15
        }
offenceT={'Violent':1, 
          'Property':2, 
          'Public Order':3,
          'Drug':4, 
          'Other':0}
recidivism={'Yes':1,
            'No':0}
test_df.columns=['Race','Age','Sex','Classification','Type','Recidivism']
test_df.Race = [race[item] for item in test_df.Race] 
test_df.Age = [age[item] for item in test_df.Age]
test_df.Sex = [sex[item] for item in test_df.Sex] 
test_df.Classification = [offenseC[item] for item in test_df.Classification] 
test_df.Type = [offenceT[item] for item in test_df.Type] 
test_df.Recidivism = [recidivism[item] for item in test_df.Recidivism] 
#alist
test_df

       Race  Age  Sex  Classification  Type  Recidivism
0         1    2    1               3     1           1
1         2    2    1               4     2           1
2         2    3    1               2     4           1
3         2    2    1               2     0           0
4         1    3    1               4     1           1
...     ...  ...  ...             ...   ...         ...
26015     4    1    1               3     1           0
26016     2    3    1               3     1           0
26017     2    2    2              11     3           0
26018     2    2    1               4     2           0
26019     2    3    1               4     1           1

[26020 rows x 6 columns]

In [107]:
X= test_df.values[:, 0:5]
print(str(X.shape))

(26020, 5)

In [7]:
Y= test_df.values[:,5:]
print(str(Y.shape))

(26020, 1)

In [8]:
x_train = X[0:15000]
print(x_train.shape)
x_test = X[15000:]
print(x_test.shape)
y_tr = Y[0:15000]
y_te = Y[15000:]
y_train = np.ravel(y_tr)
print(y_train.shape)
y_test = np.ravel(y_te)
print(y_test.shape)

(15000, 5)
(11020, 5)
(15000,)
(11020,)

In [9]:
reg.fit(x_train,y_train)

ValueError: could not convert string to float: 'Property'